<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="hikariConfig"
          class="com.zaxxer.hikari.HikariConfig">
    <constructor-arg value="/db.properties"/>
    </bean>

    <bean id="hikariDataSource"
          class="com.zaxxer.hikari.HikariDataSource">
    <constructor-arg ref="hikariConfig"/>
    </bean>

    <bean id="usersRepositoryJdbc"
          class="edu.school21.spring.service.repositories.UserRepositoryJdbcImpl">
        <constructor-arg ref="hikariDataSource"/>
    </bean>

</beans>